<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TakeAway Meat", "NewOrder", "Meat", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" role="navigation">  
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("New Order", "NewOrder", "Meat")</li>
                    <li>@Html.ActionLink("$$Rate Card$$", "RateCard", "MeatRates")</li>
                    <li>@Html.ActionLink("Add Customer", "CustomerRegistrationForm", "Customer")</li>
                    <li>@Html.ActionLink("Transaction History", "TransactionHistory", "Transactions")</li>
                    <li>@Html.ActionLink("Incomming Inventory", "SuppliesDisplay", "Consignment")</li>
                    <li>@Html.ActionLink("Meat Types", "MeatKind", "MeatKind")</li>
                    <li>@Html.ActionLink("Vendors", "VendorDetails", "Vendor")</li>
                </ul>


                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kashyap Putta</p>
        </footer>
    </div>
      
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/bootstrap.min.css")
    @RenderSection("Script", required: false)
</body>
</html>
