@model TakeAwayMeat.ViewModel.ConsignmentViewModel
@{
    ViewBag.Title = "AddConsignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Consignment</h2>

@using (Html.BeginForm("ConsignmentRecords", "Consignment"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Vendors.VendorId)
        @Html.DropDownListFor(m => m.Vendors.VendorId, new SelectList(Model.VendorList, "VendorId", "VendorName"), "Select Meat Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Vendors.VendorId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MeatKinds.Id)
        @Html.DropDownListFor(m => m.MeatKinds.Id, new SelectList(Model.MeatKindList, "Id", "MeatName"), "Select Meat Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MeatKinds.Id)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Consignment.Quantity)
        @Html.TextBoxFor(m => m.Consignment.Quantity, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Consignment.Quantity)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Consignment.BillAmount)
        @Html.TextBoxFor(m => m.Consignment.BillAmount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Consignment.BillAmount)
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}

